body
{margin: 0;
}

.container{
width:100%;
height: 100vh;
display: flex;
align-items: center;
justify-content: space-between;
}
img{width: 250px;}
.a{width: 400px;
height: 400px;

border: 3px solid  darkred;}
